{% extends 'base.html' %}

{%load static%}

{% block body %}


<!-- slider -->
<div class="container-fluid p-0">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {%for i in cara %}
      <div class="carousel-item {% if forloop.counter0 == 0%} active {%endif%}">
        <img class="d-block w-100" src="{{i.image.url}}" height="500px" alt="First slide">
      </div>
     {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
<!-- end slider -->


<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-md-12">
  <!-- <h1 class="text-center my-5" style="font-size: 60px;"><b>All PRODUCT</b></h1> -->
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">

      {% if product|length < 1 %} <p style="background-color: Red;font-size:large;color:black"><b>OOPS! This Product Is
          not Matched with Your Query</b></p>

        {% endif %}
        {%for i in product%}


        <div class="col-6 col-md-3 my-5">
          <div class="card shadow">
            <a href="/quickview/{{i.id}}"><img src="/media/{{i.image}}" height="200px"
                class="card-img-top" alt="..."></a>
            <div class="card-body text-center">
              <h2 class="card-title"><b>{{i.name}}</b></h2>
              <h3 class="card-title"><b>Price {{i.price}}</b></h3>
              

              
              <div class="d-flex">
                {%if user.is_authenticated%}
                <a href="{% url 'cart_add' i.id %}"><button class="btn btn-danger mx-2" >Add
                  Cart</button></a>
              {%else%}
                <a href="/handlelogin1"><button class="btn btn-outline-danger card-link mx-2" >Add Cart</button></a>

              {%endif%}

              <a href="/quickview/{{i.id}}"><button class="btn btn-outline-danger" >Quick
                  View</button></a>
              </div>
            </div>
          </div>
        </div>


        {%endfor%}
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
</div>
  </div>
</div>


{%endblock%}